#info-frame {
    background-color: #d2cfd7;
    border-radius: 15px;
    margin: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#info-frame div {
    margin: 15px 10px;
    padding: 10px;
    text-align: center;
    background-color: lightslategray;
    border-radius: 10px;
}

#info-frame hr {
    min-width: 50px;
    margin: 5px;
}

#info-frame p {
    margin: 0;
}

#game-backdrop {
    /* background-image: url("./images/blacksmoke3.jpg"); */
    /* background-size: cover; */
    background-color: #d2cfd7;
    border-radius: 15px;
    margin: 10px;
}

#game-frame {
    /* max-width: 600px; */
    min-width: 300px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    /* margin: 10px; */
}

.frame-square {
    aspect-ratio: 1 / 1;
}

.frame-3x4 {
    aspect-ratio: 3 / 4;
}

.frame-3x5 {
    aspect-ratio: 3 / 5;
}

.frame-4x3 {
    aspect-ratio: 4 / 3;
}

.frame-4x5 {
    aspect-ratio: 4 / 5;
}

.frame-5x3 {
    aspect-ratio: 5 / 3;
}

.frame-5x4 {
    aspect-ratio: 5 / 4;
}

#game-grid {
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tile { 
    box-sizing: border-box;
    border: 1px dashed red;
    display: flex;
    justify-content: center;
    background-color: gray;
}

.tile-width3 {
    flex: 1 0 30%;
}

.tile-width4 {
    flex: 1 0 22%;
}

.tile-width5 {
    flex: 1 0 17%;
}

.tile img {
    width: 100%;
}

@media (min-width: 768px) {
    #info-frame {
        flex-direction: column;
    }
}