body {
    background-color: black;
    min-width: 300px;
    height: 100vh;
}

section {
    flex-direction: column;
}

#highscores-btn:hover {
    background: #464c50;
}

#info-frame {
    background-image: linear-gradient(120deg, #938d85, #4c3f32); 
    background-color: #938d85;
    flex-direction: column;
    margin: 16px 16px 8px 16px;
    padding: 8px
}

#info-frame * {
    font-size: .8rem;
}

#difficulty-info {
    margin-top: -5px;
}

#difficulty-form label:hover {
    background: #adb5bd;
}

.difficulty-name {
    display: none;
}

#game-backdrop {
    background-image: url(./images/blacksmoke.jpg);
    background-size: cover;
    background-color: #938d85;
    position: relative;
    margin: 8px 16px;
}

#game-frame {
    background-size: cover;
    max-height: calc(100vh - 285px);
}

#reset-button {
    position: absolute;
    top: 1vw;
    left: 1vw;
}

#reset-icon {
    font-size: 3vw;
}

#pause-button {
    position: absolute;
    top: 1vw;
    right: 1vw;
}

#pause-icon {
    font-size: 3vw;
}

#game-mask {
    background-image: url(./images/blacksmoke.jpg);
    background-size: cover;
    background-color: black;
    opacity: 0.9;
    position: absolute;
    top: 0;
}

#play-icon {
    font-size: 30vw;
}

#play-icon:hover {
    font-size: 28vw;
}

.frame-square {
    aspect-ratio: 1 / 1;
}

.frame-3x4 {
    aspect-ratio: 3 / 4;
}

.frame-3x5 {
    aspect-ratio: 3 / 5;
}

.frame-4x3 {
    aspect-ratio: 4 / 3;
}

.frame-4x5 {
    aspect-ratio: 4 / 5;
}

.frame-5x3 {
    aspect-ratio: 5 / 3;
}

.frame-5x4 {
    aspect-ratio: 5 / 4;
}

.tile { 
    box-sizing: border-box;
    border: 1px dashed #d2cfd7;
    background-color: gray;
}

.tile-width3 {
    flex: 1 0 30%;
}

.tile-width4 {
    flex: 1 0 22%;
}

.tile-width5 {
    flex: 1 0 17%;
}

.tile img {
    width: 100%;
}

.tile-content {
    position: relative;
}

.img-number {
    position: absolute;
    top: 5px;
    left: 5px;
    visibility: hidden;
}

.offcanvas {
    --bs-offcanvas-width: 500px;
}

#highscores-offcanvas {
    font-size: .9rem;
}

#complete-alert {
    visibility: hidden;
    margin: 8px 16px 16px 16px;
}

#complete-alert * {
    font-size: .9rem;
}

#score-form-post {
    display: none;
}

@media (min-width: 480px) {
    #info-frame {
        flex-direction: row;
        gap: 10px;
        padding: 16px;
    }

    #info-frame * {
        font-size: .9rem;
    }
    
}

@media (min-width: 768px) {
    section {
        flex-direction: row;
    }

    #info-panel {
        width: 30%;
        max-width: 300px;
    }

    #info-frame {
        flex-direction: column;
        margin: 16px 8px 8px 16px;
    }
    
    .info-subframe {
        flex-direction: column;
    }

    #difficulty-form {
        flex-direction: column;
    }

    #difficulty-btns label {
        font-size: 15px;
    }

    .difficulty-name {
        display: inline-block;
    }

    #game-panel {
        width: 70%;
    }

    #game-backdrop {
        margin: 16px 16px 8px 8px;
    }

    #game-frame {
        max-height: calc(100vh - 175px);
    }
}